a,
b,
body,
canvas,
dd,
div,
dl,
dt,
em,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
input,
label,
li,
ol,
p,
q,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size-adjust: none;
  -webkit-text-size-adjust: 100%!important;
  -webkit-touch-callout: none;
}
* {
  -webkit-tap-highlight-color: transparent;
}
body,
html {
  font-size: 62.5%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: STHeitiSC-Light, Helvetica-Light, arial, sans-serif, 'Droid Sans Fallback';
}
input {
  -webkit-user-select: auto;
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
}
::-webkit-input-placeholder {
  color: #999;
}
li,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #4c4c4c;
}
em {
  font-style: normal;
}
.show {
  display: block;
}
.hide {
  display: none;
}
html,
body {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
nav {
  margin: 0 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
nav a {
  display: block;
  width: 4rem;
  background-color: #fff;
  border-radius: 2px;
  height: 3.6rem;
  line-height: 3.6rem;
  text-align: center;
  border: 1px solid #4c8efa;
  margin-top: .5rem;
  text-decoration: none;
  font-size: 1.8rem;
}
nav h1 {
  display: block;
  background-color: #4c8efa;
  border-radius: 2px;
  height: 3.8rem;
  line-height: 3.8rem;
  text-align: center;
  color: #fff;
  margin: 0 .5rem;
  margin-top: .5rem;
  font-size: 1.8rem;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
nav .icono-hamburger,
nav .icono-home {
  color: #4c8efa;
}
.showbiz {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: .5rem 1rem;
}
.showbiz h1 {
  display: block;
  background-color: #1dc2b4;
  border-radius: 2px;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.showbiz a {
  width: 5.8rem;
  display: block;
  border: none;
  background-color: #fff;
  border: 1px solid #1dc2b4;
  border-radius: 2px;
  height: 2.8rem;
  line-height: 2.8rem;
  text-align: center;
  color: #1dc2b4;
  margin-left: .5rem;
  font-size: 1.5rem;
}
.demo {
  margin: 0 1rem;
  margin-top: .5rem;
  border: 1px solid #1dc2b4;
  border-radius: 2px;
}
.demo .obj {
  width: 5rem;
  height: 5rem;
  background-color: #ef4454;
  margin: 1rem auto;
}
#opacityShow .obj {
  opacity: 1;
  transition: opacity 1s;
}
#opacityShow .obj.show {
  opacity: 0;
}
#sizeaShow .obj {
  transition: transform 1s;
}
#sizeaShow .obj.show {
  transform: scale(0.2, 0.2);
}
#sizebShow .obj {
  transition: width 2s, height 1s;
}
#sizebShow .obj.show {
  width: 2rem;
  height: 2rem;
}
#moveShow .obj {
  transition: transform 1s;
}
#moveShow .obj.show {
  transform: translateX(-8rem);
}
