html {
  font-size: 50px;
}
* {
  box-sizing: border-box;
}

.svg-wrap{
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  position:relative;
}
svg {
  padding:.7rem .5rem .2rem .6rem;
}

.scatter svg {
  padding:.7rem .24rem .2rem .34rem;
}

text {
  font: .2rem sans-serif;
  color: #8f9296
}

.axis path,
.axis line {
  fill: none;
  stroke: #d8d8d8;
  shape-rendering: crispEdges;
  stroke-width: 0.5px;
}

g.inner-line-y line {
  fill: none;
  stroke: #EBEBEB;
  shape-rendering: crispEdges;
  stroke-width: 0.5px;
  opacity: 1;
  stroke-dasharray: 2,2;
}
g.inner-line-y>g:first-of-type{
  opacity: 0
}

g.inner-line-y .domain {
  fill: none;
  stroke: #EBEBEB;
  shape-rendering: crispEdges;
  stroke-width: 0.5px;
  opacity: 1;
  stroke-dasharray: 2,2;
}

g.inner-line-x .domain {
  fill: none;
  stroke: #EBEBEB;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

g.inner-line-x .selected line{
  fill: none;
  stroke: #FFCE7F;
  shape-rendering: crispEdges;
  stroke-width: 1px;
  opacity: 1;
}

g.inner-line-mask line{
  stroke-width: .1rem;
}

.axis .domain, g.inner-line-mask .domain{
  opacity: 0
}

.dot {
  fill: white;
  stroke: rgb(255, 158, 0);
  stroke-width: 1px;
  opacity: 0
}

.dot.selected {
  r:5;
  opacity: 1;
  transition: r 0.3s;
}

.scatter .dot.selected {
  r:4;
  opacity: 1;
  transition: r 0.3s;
}

.dot.mark {
  r:2;
  fill: #FFAA1F;
  stroke: #FFAA1F;
  opacity: 1;
}

.dot.mark.selected {
  r:4;
  fill: rgba(255, 158, 0, 0.6);
  stroke: rgb(255, 158, 0);
  opacity: 1;
  transition: r 0.3s;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
}

.tick line{
  opacity: 0
}

.real.line {
  stroke: rgb(255, 158, 0);
}

.forecast.line{
  stroke: rgb(255, 158, 0);
  stroke-dasharray: 3,3;
}

.label {
  text-anchor: middle;
}

.label rect {
  fill: white;
}

.label-key {
  font-weight: bold;
}
.tooltip{
  position: absolute;
  padding: .1rem;
  font-size: .2rem;
  line-height: .3rem;
  background: rgba(255, 158, 0, 0.90);
  color: #fff;
  border-radius: .1rem;
  top:.24rem;
  left:-10rem;
  z-index: 999;
  white-space: nowrap;
  transition: left .2s;
}


.bar{
  fill:#FCB205;
}

.pie-bg{
  display: none
}

.pie-bg.active{
  display: inline;
  opacity: 0.3
}

.piechart{
  padding: 0
}

.piechart svg{
  display: block;
  margin: 0 auto;
  padding: 0
}

.pie-label-line text{
  font-size: .24rem;
}

